<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothaistorage;AccountKey=HBygTqyBrOW0qmAdgt42NwX4zEQH5zUcbsfSet7eHM5gdgMwd80NXChZmX5EeXd1xppkzmoW1HdDQJwx7OBk8Q==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>